<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Camera panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cameraPanel.css">
</head>
<body>

<div class="container-fluid">
    <th:block th:each="camera : ${cameras}">
        <div class="alert alert-primary" role="alert">
            <p th:text="${camera.name}"></p>
        </div>
        <div class="row justify-content-md-center">
            <a th:href="@{/oneCamera(name=${camera.name})}"
               style="display: block; width:1980px; height:1080px; overflow:hidden;">
                <iframe th:src="${camera.url}" width="1980" height="1080" allowfullscreen></iframe>
            </a>

        </div>
    </th:block>


</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>